*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* HEADER */
header {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

button{
  color: white;
  background-color: rgb(86, 86, 86);
  border-radius: 5px;
  padding: 3px;
  border: none;
  font-size: 0.7rem;
}

.top-btn{
  position: absolute;
  top: 5px;
  right: 10px;
}


/* MAIN */
.main-box{
  background-color: black;
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-box{
  height: calc(100vh - 140px);
  width: 95%;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  background-color: orange;
  height: 150px;
  width: 220px;
  margin: 8px 5px;
}


/* FOOTER */
footer{
  background-color: grey;
  height: 70px;
}

.bottom-bar{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.strumenti{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
  width: 25%;
}

.audio, .video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio i, .video i{
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.audio span, .video span{
  font-size: 0.8rem;
}

.strumenti .fa-chevron-up{
  font-size: 0.7rem;
}



